body, html {
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(255, 120, 255);
    height: 60px;
    grid-area: header;
}

nav{
    background-color: coral;
    grid-area: menu;
}

footer{
    background-color: aquamarine;
    height: 80px;
    clear: both;
    grid-area: footer;
}
article{
    height: 250px;
    background-color: beige;
    grid-area: content;
}
#container{
    margin:0 auto;
    width:1200px;
    background-color: orange;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'content content content menu'
    'footer footer footer footer'
    ;
}